<div class="header">
    <div class="header-box">
        <h1 class="title">Gabriel Inácio</h1>
        <h2 class="subtitle">Full Stack Developer</h2>
    </div>
    <div class="social-links">
        <a
            href="https://github.com/ogabrielinacio"
            target="_blank"
            rel="noopener"
        >
            <img src="../../../assets/github.svg" class="icon" />
        </a>
        <a
            href="https://www.linkedin.com/in/ogabrielinacio/"
            target="_blank"
            rel="noopener"
        >
            <img class="icon" src="../../../assets/linkedin.svg" />
        </a>
    </div>
</div>
