@import "../../../variables.scss";

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 20px;
   background-color: $base;

    h2 {
       color: $text; 
    }
    .header-box {
        .title {
            margin: 0;
            font-size: 38px;
        }
        .subtitle {
            margin-left: 3em;
            font-size: 28px;
        }
    }

    .social-links {
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .icon{
            width: 32;
            height: 32px;
            filter: invert(82%) sepia(12%) saturate(170%) hue-rotate(172deg) brightness(97%) contrast(90%);
        }
    }
}


