<div class="certificates-container">
    <h2>My Certificates</h2>

    <div class="categories-buttons">
        @for (category of categories; track category){
        <button
            (click)="selectCategory(category)"
            [class.active]="selectedCategory === category"
        >
            {{ category }}
        </button>
        }
        <button
            (click)="selectCategory(null)"
            [class.active]="!selectedCategory"
        >
            Show All
        </button>
    </div>
    <div class="dropdown-container">
        <div class="sort-type-dropdown">
            <p>Sort by:</p>
            <button (click)="toggleSortDropdown()">{{ sortType }}</button>
            @if(isSortDropdownOpen){
                <div class="dropdown-menu">
                    <button class="dropdown-item" (click)="
                                                        selectSortType(ESortType.Date); toggleSortDropdown()
                                                    " [class.active]="sortType === ESortType.Date">
                        {{ ESortType.Date }}
                    </button>
                    <button class="dropdown-item" (click)="
                                                        selectSortType(ESortType.Alphabetical);
                                                        toggleSortDropdown()
                                                    " [class.active]="sortType === ESortType.Alphabetical">
                        {{ ESortType.Alphabetical }}
                    </button>
                </div>
            }
        </div>
        <div class="order-type-dropdown">
            <p>Order By:</p>
            <button (click)="toggleOrderDropdown()">
                {{ isReverseOrder ? "Descending" : "Ascending" }}
            </button>
            @if(isOrderDropdownOpen){
            <div *ngIf="isOrderDropdownOpen" class="dropdown-menu">
                <button class="dropdown-item" (click)="selectOrder(false); toggleOrderDropdown()" [class.active]="!isReverseOrder">
                    Ascending
                </button>
                <button class="dropdown-item" (click)="selectOrder(true); toggleOrderDropdown()" [class.active]="isReverseOrder">
                    Descending
                </button>
            </div>
            }
        </div>
    </div>

    @for(certificate  of getFilteredCertificates(); track certificate.id){
        <div class="certificate-card">
            <div class="certificate-info">
                <h3>{{ certificate.title }}</h3>
                <p><strong>Issuer:</strong> {{ certificate.issuer }}</p>
            </div>
            <div class="certificate-actions">
                <a [href]="certificate.issuerUrl ?? certificate.url" target="_blank" class="view-certificate">
                    View Certificate
                </a>
            </div>
        </div>
    }
</div>
