<div class="projects-container">
  <h2>My GitHub Projects</h2>
  <div class="projects-grid">
    @for(project of projects; track project.id){
      <div class="project-card">
        <div class="header-card">
          <h3>
            <a [href]="project.url" target="_blank">{{ project.name }}</a>
          </h3>
          <p class="project-description">{{ project.description }}</p>
        </div>
        <div class="footer-card">
          <span class="language-color" [style.background-color]="project.languageColor"></span>
          <span class="language">{{ project.language }}</span>
        </div>
      </div>
    }
  </div>
</div>
